body {
	background-color: #000;
	color: #eee;
	font-family: sans-serif;
}

h1 {
	max-width: 800px;
	margin: 1em auto;
	cursor: pointer;
	color: #7ac;
}
h1:hover {
	color: #abd;
}

section {
	max-width: 800px;
	margin: 0 auto;
	padding: 16px 32px;
	background-color: #111;
}
section.hidden {
	display: none;
}

img {
	display: block;
}

div.pin {
	margin: 1em 0;
	display: flex;
	align-items: flex-start;
}

div.pin img.avatar {
	min-width: 64px;
	margin-right: 16px;
}

div.pin div.timestamp {
	color: #777;
}

div.pin span.username {
	color: #7ac;
	font-weight: bold;
}

div.pin span.text {
	overflow-wrap: anywhere;
}
